<ion-header class="ion-no-border">
  <ion-toolbar  [color]="dataVencimentoMaiorQueHoje ? 'danger' : 'primary'" >
    <ion-buttons slot="start">
      <ion-button (click)="fecharModal()">
        <ion-icon  name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="secondary">
  <ion-row  class="header-modal"  [ngClass]="{ 'danger': dataVencimentoMaiorQueHoje }">

    <!-- Atrasado -->
    <!--/ Atrasado -->


    <div  align="center" [style.display]="dataVencimentoMaiorQueHoje ? 'block' : 'none'">
      <div class="header">
        <p color="white" style="margin-bottom: 1px;">
          Parcela atrasada
        </p>


        <ion-label>
          {{ valor_restante }}
        </ion-label>
        <p color="white" style="margin-top: 1px;;">
          <small>Parcela</small> <br>
          <small>{{ numero_parcela }} de {{ contrato_qtd_parcelas }}</small>
      </div>
    </div>

    <!-- Não Atrasado -->
      <div align="center"  [style.display]="dataVencimentoMaiorQueHoje ? 'none' : 'block'">
          <div class="header">
            <p color="white" style="margin-bottom: 1px;">
              Valor à receber
            </p>
            <ion-label>
             {{ valor_restante }}
            </ion-label>
            <p color="white" style="margin-top: 1px;;">
              <small>Parcela</small> <br>
              <small>{{ numero_parcela }} de {{ contrato_qtd_parcelas }}</small>
            </p>
          </div>
      </div>
      <!-- Não Atrasado -->
  </ion-row>



  <ion-list lines="full" style="padding: 2px; margin: 40px 10px 10px 10px;">

    <ion-item>
      <ion-icon slot="start" color="primary" name="people-circle-outline"></ion-icon>
      <ion-label>Cliente</ion-label>
      <ion-text slot="end" color="primary">
        {{ cliente_nome }}
      </ion-text>
    </ion-item>

    <ion-item [style.display]="jurosPorAtraso ? 'block' : 'none'">
      <ion-text slot="start">Juros por Atraso</ion-text>
      <ion-text slot="end" color="primary">
        {{ array.contrato_juros_atraso_valor }} %
      </ion-text>
    </ion-item>

    <ion-item  [style.display]="multaPorAtraso ? 'block' : 'none'">
      <ion-text slot="start">Multa por Atraso R$</ion-text>
      <ion-text slot="end" color="primary">
        {{ array.contrato_multa_atraso_valor }}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="primary" name="layers-outline"></ion-icon>
      <ion-label>Contrato</ion-label>
      <ion-text slot="end" color="primary">
        {{ contrato_id }}
      </ion-text>
    </ion-item>


    <ion-item>
      <ion-icon slot="start" color="primary" name="checkmark-done-outline"></ion-icon>
      <ion-label>Parcela</ion-label>
      <ion-text slot="end" color="primary">
        {{ numero_parcela }} de {{ contrato_qtd_parcelas }}
      </ion-text>
    </ion-item>


    <ion-item>
      <ion-icon slot="start" color="primary" name="calendar-outline"></ion-icon>
      <ion-label>Vencimento</ion-label>
      <ion-text slot="end" color="primary">
        {{ data_vencimento_formatado }}
      </ion-text>
    </ion-item>

  </ion-list>

  <div #btnAcoes style="margin-top: 25px; " id="btnAcoes" class="btnAcoes">
    <ion-button color="success" fill="outline" expand="block" (click)="enviarCobranca()" >
        Enviar Cobrança
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
    </ion-button>

    <ion-button color="tertiary" expand="block" (click)="mostrarFormularioRenovacao()" >
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
        Renovar Vencimento
    </ion-button>

    <ion-button color="success"  expand="block" (click)="mostrarFormularioRecebimento()" >
      <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>
        Receber Pagamento
    </ion-button>
    <ion-button fill="clear" style="margin-bottom: 40pxclear;"  (click)="fecharModal()" color="primary" expand="full">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Voltar
    </ion-button>
  </div>




  <!-- RECEBIMENTO -->
  <div #formRecebimento id="formRecebimento" class="form" style="display: none;;">
    <form #form="ngForm" (ngSubmit)="informarRecebimento()">
      <ion-item class="ion-text-center">
        <ion-label>Preencha os campos abaixo</ion-label>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-item>
      <ion-item style="margin-top: 30px;">
        <ion-input #inputValorInformado label="Valor Coletado" labelPlacement="stacked"  name="valor_informado" [(ngModel)]="valor_informado" placeholder="{{ valor_restante }}" type="tel" [maskito]="mascara_dinheiro" [maskitoElement]="maskPredicate" inputmode="decimal" autofocus></ion-input>
      </ion-item>

      <ion-item style="margin-bottom: 25px;">
        <ion-select required [(ngModel)]="forma_pagamento"  #formaPagamento name="forma_pagamento" label="Forma de Pagamento" placeholder="Selecione">
          <ion-select-option value="">Selecione </ion-select-option>
          <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
          <ion-select-option value="cartão">Cartão</ion-select-option>
          <ion-select-option value="pix">Pix</ion-select-option>
          <ion-select-option value="cheque">Cheque</ion-select-option>
        </ion-select>


      </ion-item>

      <ion-button  *ngIf="form.valid" type="submit"  color="success" expand="block">
        <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>
        Confirmar Recebimento
      </ion-button>


    </form>
    <ion-button fill="clear" style="margin-bottom: 40pxclear;" (click)="ocultarFormularioRecebimento()" color="primary" expand="full">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      Opções
    </ion-button>

 </div>




  <!-- Resto do seu código -->

  <div #formRenovacao class="form" [style.visibility]="renovacao_form ? 'visible' : 'hidden'">


    <form  #formRenov="ngForm" (ngSubmit)="informarRenovacao()">

          <ion-item class="ion-text-center" style="margin-bottom: 10px;;">
            <ion-label>Preencha os campos abaixo</ion-label>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-item>


        <ion-item style="margin-top: 30px;">
          <ion-input #inputDataInformada name="data_informada" type="date" [(ngModel)]="data_informada"></ion-input>
        </ion-item>



         <div  #valorColetado id="valorColetado" style="margin-top: 30px; display: none;">



            <ion-item>
              <ion-input required label="Valor Coletado" labelPlacement="stacked"  name="valor_coletado" [(ngModel)]="valor_coletado" placeholder="R$ 0,00" type="tel" [maskito]="mascara_dinheiro" [maskitoElement]="maskPredicate" inputmode="decimal" autofocus></ion-input>
            </ion-item>



              <ion-item>
                <ion-select required [(ngModel)]="forma_pagamento_renovacao"  #formaPagamentoRenovacao name="forma_pagamento_renovacao" label="Recebeu como?" placeholder="Selecione">
                  <ion-select-option value="">Selecione </ion-select-option>
                  <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
                  <ion-select-option value="cartão">Cartão</ion-select-option>
                  <ion-select-option value="pix">Pix</ion-select-option>
                  <ion-select-option value="cheque">Cheque</ion-select-option>
                </ion-select>
              </ion-item>



        </div>


       <ion-button color="tertiary"  expand="block" type="submit" style="margin-top: 20px;">
         <ion-icon slot="start" name="checkmark-done-circle-outline"></ion-icon>
           Confirmar Renovação
       </ion-button>


         <ion-button fill="clear" style="margin-bottom: 40px;"  (click)="ocultarFormularioRenovacao()" color="primary" expand="full">
           <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
             Opções
       </ion-button>

    </form>
</div>


</ion-content>


<STYLE>
  .custom-action-sheet-button {
  color: #007bff; /* Cor do texto */
}

.custom-action-sheet-button:hover {
  color: #0056b3; /* Cor do texto quando passar o mouse */
}

.custom-action-sheet-button.activated {
  background-color: #f0f0f0; /* Cor de fundo quando o botão estiver ativado */
}

</STYLE>
